
.imgPageBG{
    background-image: url("../images/home_images/explicacion.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto ;

}



